[submodule "spot_ros"]
	path = spot_ros2
	url = git@github.com:bdaiinstitute/spot_ros2.git
[submodule "BehaviorTree.ROS2"]
	path = BehaviorTree.ROS2
	url = git@github.com:BehaviorTree/BehaviorTree.ROS2.git
[submodule "BehaviotTree.ROS2"]
	path = BehaviotTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
