<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="spot_ros2_control" params="name initial_positions_file hardware_interface">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
    <ros2_control name="${name}" type="system">
    
      <hardware>
        <xacro:if value="${hardware_interface == 'mock'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
      </hardware>

      <!-- Arm joints -->
      <joint name="arm_sh0">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_sh0']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_sh1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_sh1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_el0">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_el0']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_el1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_el1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_wr0">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_wr0']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_wr1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_wr1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="arm_f1x">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['arm_f1x']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <!-- Leg joints -->
      <joint name="front_left_hip_x">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_left_hip_y">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_left_knee">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_hip_x">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_hip_y">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_knee">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_left_hip_x">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_left_hip_y">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_left_knee">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_hip_x">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_hip_y">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_knee">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
